@model ATMSData.Models.Injures

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Injures</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccidentRecords)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccidentRecords.AccidentRecordID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Victims)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Victims.VictimID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VictimID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
