@model IEnumerable<ATMSData.Models.Injures>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccidentRecords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Victims)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccidentRecords.AccidentRecordID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Victims.VictimID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VictimID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VictimID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VictimID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
